body{
	font-family: century-gothic, sans-serif;
	margin:0;
	back
}
.header{
	
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		
		background: rgb(2,0,36);
		background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(37,49,125,1) 11%, rgba(37,125,89,1) 51%, rgba(37,102,125,1) 94%);
}
.header__info{
	justify-content: center;

}
.header__img{
		position: absolute;
		width: 100px;
		margin-left: 200px;
		margin-right:10px;
		margin-top: -70px;
}

.header__item{
	color: white;
	opacity: .8;
}
.main{
	border:;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;

	background: rgb(2,0,36);
		background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(37,49,125,1) 11%, rgba(37,125,89,1) 51%, rgba(37,102,125,1) 94%);
}
.main__h2--publication{
	color: white;
	opacity: .8;
	display: flex;
	justify-content: center;
}
.main__img{
	width: 400px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}
.main__description{
	display: flex;
	color: white;
	opacity: .6;
	flex-wrap: wrap;
	width: 400px;
	flex-direction: column;
}
a{
	padding: 5px;
}
